<div class="flex flex-col items-end">

	<iframe type="audio/mp3" allow="autoplay" style="display: none"
		[src]="safeSource">
	</iframe>

	<audio #audioPlayer (play)="onPlay()" (pause)="onPause()" (timeupdate)="onTimeUpdate($event)" [autoplay]="autoplay" [loop]="loop" [muted]="muted">
		<source [src]="safeSource" type="audio/mpeg">
		Your browser does not support the audio element.
	</audio>

	<!-- Custom controls -->
	<div class="flex flex-col items-end">

		@if (state === 'stopped' || state === 'paused') {
			<button (click)="playAudio()" #play>
				<app-icon name="play-circle" color="fourth" color="primary-inverse"></app-icon>
			</button>
		}

		@else {
			<button (click)="pauseAudio()" #pause>
				<app-icon name="pause-circle" color="fourth" color="primary-inverse"></app-icon>
			</button>
			<button (click)="stopAudio()" #stop>
				<app-icon name="stop-circle" color="fourth" color="primary-inverse"></app-icon>
			</button>
		}

	</div>

	<!-- Display current time -->
	<span [innerHTML]="displayedCurrentTime"></span>

</div>
