<div class="flex flex-col items-end">

	<!--{{ debugText }}-->

	<audio #audioPlayer (play)="onPlay()" (pause)="onPause()" (timeupdate)="onTimeUpdate($event)" [muted]="muted" [autoplay]="autoplay" [loop]="loop">
		<source [src]="safeSource" type="audio/mp3">
		Your browser does not support the audio element.
	</audio>

	<!-- Play prompt that appears after the first scroll -->
	@if (showPlayPrompt) {
		<div class="play-overlay">
			<button (click)="playAudio()">Play Audio</button>
		</div>
	}

	<!-- Custom controls -->
	<div class="flex flex-col items-end">

		@if (state === 'stopped' || state === 'paused') {
			<button (click)="playAudio()" #play>
				<app-icon name="play-circle" color="fourth" color="primary-inverse"></app-icon>
			</button>
		}

		@else {
			<button (click)="pauseAudio()" #pause>
				<app-icon name="pause-circle" color="fourth" color="primary-inverse"></app-icon>
			</button>
			<button (click)="stopAudio()" #stop>
				<app-icon name="stop-circle" color="fourth" color="primary-inverse"></app-icon>
			</button>
		}

	</div>

	<!-- Display current time -->
	<span [innerHTML]="displayedCurrentTime"></span>

</div>
