<section class="flex flex-col justify-around" [id]="id">

	<app-ornament class="self-center" position="top-center" color="primary-inverse"></app-ornament>

	<div class="self-center grid grid-cols-3 gap-2 my-10">

		<img class="rounded-md border-double border-4 bg-origin-border bg-clip-border transition ease-in-out delay-150 hover:-translate-y-1 hover:scale-110 hover:z-40 duration-300" ngSrc="/assets/images/img-01.webp" width="2458" height="3386" alt="Foto 1" priority>

		<img class="rounded-md border-double border-4 bg-origin-border bg-clip-border transition ease-in-out delay-150 hover:-translate-y-1 hover:scale-110 hover:z-40 duration-300" ngSrc="/assets/images/img-02.webp" width="2458" height="3386" alt="Foto 2" priority>

		<img class="rounded-md border-double border-4 bg-origin-border bg-clip-border transition ease-in-out delay-150 hover:-translate-y-1 hover:scale-110 hover:z-40 duration-300" ngSrc="/assets/images/img-03.webp" width="2458" height="3386" alt="Foto 3" priority>

		<img class="rounded-md border-double border-4 bg-origin-border bg-clip-border transition ease-in-out delay-150 hover:-translate-y-1 hover:scale-110 hover:z-40 duration-300" ngSrc="/assets/images/img-04.webp" width="2458" height="3386" alt="Foto 4" priority>

		<img class="rounded-md border-double border-4 bg-origin-border bg-clip-border transition ease-in-out delay-150 hover:-translate-y-1 hover:scale-110 hover:z-40 duration-300" ngSrc="/assets/images/img-05.webp" width="2458" height="3386" alt="Foto 5" priority>

		<img class="rounded-md border-double border-4 bg-origin-border bg-clip-border transition ease-in-out delay-150 hover:-translate-y-1 hover:scale-110 hover:z-40 duration-300" ngSrc="/assets/images/img-06.webp" width="2458" height="3386" alt="Foto 6" priority>

	</div>

	<app-ornament class="self-center" color="primary-inverse"></app-ornament>

</section>
