<section class="flex flex-col justify-around" [id]="id">

	<app-ornament class="self-center" position="top-center" color="primary-inverse"></app-ornament>

	<p class="text-center">
		Besar harapan kami untuk kehadiran Bapak/Ibu/Saudara/i pada acara yang kami selenggarakan. <br>
		Kehadiran Anda akan menjadi kebahagiaan tersendiri dan melengkapi momen spesial kami. <br>

		<br>

		Dengan penuh rasa syukur, kami ucapkan terima kasih atas perhatian dan kehadiran Bapak/Ibu/Saudara/i sekalian <br>
		pada hari istimewa kami nanti. Semoga kehadiran Anda menjadi bagian dari kebahagiaan yang kami rasakan. <br>
		Wassalamualaikum warohmatullahi wabarokatuh.
	</p>

	<app-ornament class="self-center" color="primary-inverse"></app-ornament>

</section>
