<section class="flex flex-col justify-around" [id]="id">

	<app-ornament class="self-center" position="top-center" color="primary-inverse"></app-ornament>

	<p class="text-center">
		Bismillah hirohmanirrohim, Assalamulaikum warohmatullahi wabarokatuh. <br>
		Semoga para hadirin sehat selalu. Dengan memohon rahmat dan ridho Allah Subhanahu Wata'ala, <br>
		kami bermaksud menyelenggarakan acara pernikahan kami: <br>

		<br>

		Ardiana Navila Yulfa <br>
		(Putri dari Bapak Wahadi & Ibu Wahyu Muslimah) <br>
		& <br>
		Ibnu Rohan Tuharea <br>
		(Putra dari Bapak H. Abdurahman Tuharea & Ibu Hj. Aisa Nahumarury) <br>
	</p>

	<app-ornament class="self-center" color="primary-inverse"></app-ornament>

</section>
