<section class="flex flex-col justify-around" [id]="id">

	<p class="text-center">
		Bismillah hirohmanirrohim, Assalamulaikum warohmatullahi wabarokatuh. <br>
		Semoga para hadirin sehat selalu. Dengan memohon rahmat dan ridho Allah Subhanahu Wata'ala, kami bermaksud menyelenggarakan acara pernikahan kami: <br>
		<br>
		Ardiana Navila Yulfa <br>
		(Putri dari Bapak Wahadi & Ibu Wahyu Muslimah) <br>
		& <br>
		Ibnu Rohan Tuharea <br>
		(Putra dari Bapak H. Abdurahman Tuharea & Ibu Hj. Aisa Nahumarury) <br>
	</p>

</section>
