<section class="custom-border flex flex-col justify-between bg-[url('/assets/images/img-1.webp')] bg-no-repeat bg-cover bg-center bg-origin-border bg-clip-padding saturate-50" [id]="id">

	<div class="grow flex flex-col items-center justify-center">
		<span class="font-semibold text-2xl italic tracking-wide antialiased text-white text-center dancing-script-font">
			Undangan Pernikahan
		</span>

		<br>

		<h1 class="font-semibold text-6xl italic tracking-wide antialiased text-white text-center dancing-script-font">
			Dina & Ibnu
		</h1>
	</div>

</section>
