<section class="relative min-h-[98vh] max-h-screen min-w-[98vw] max-w-screen h-[98vh] w-[98vw] mt-2 bg-[url('/assets/images/img-1.webp')] bg-no-repeat bg-cover bg-center bg-origin-border bg-clip-padding flex flex-col justify-around items-center" [id]="id">

	<!-- Overlay for brightness and opacity effect -->
	<div class="absolute inset-0 bg-black opacity-50 brightness-50"></div>

	<!-- Foreground content (text) centered and spaced evenly -->
	<div class="relative z-10 flex flex-col justify-around h-full">
		<span class="font-semibold text-2xl italic tracking-wide primary-text-color text-center dancing-script-font">
			Undangan Pernikahan
		</span>

		<h1 class="font-semibold text-8xl italic tracking-wide primary-text-color text-center dancing-script-font">
			Dina & Ibnu
		</h1>

		<span class="font-semibold text-2xl italic tracking-wide primary-text-color text-center dancing-script-font">
			{{ weddingDate | date: 'fullDate' }}
		</span>
	</div>

</section>
