<section class="flex flex-col justify-center min-h-screen" id="closingRemarks">
	<p class="text-center mb-4">Atas perhatian dan kehadirannya nanti kami ucapkan terima kasih. Wassalamualaikum warohmatullahi wabarokatuh.</p>
	<p class="text-center mb-4">
		Catatan: Kalau dari Bapak/Ibu/Teman/Saudara/i ingin memberikan tanda kasih (duit), bisa mengirim ke rekening : <br>
	</p>

	<table class="border border-separate rounded-4 mb-4 self-center">
		<thead>
			<tr>
				<th class="border">Nama Bank</th>
				<th class="border">Atas Nama</th>
				<th class="border">No. Rekening</th>
			</tr>
		</thead>
		<tbody>
			<tr>
				<td class="border">Bank Syariah Indonesia (BSI)</td>
				<td class="border">Ibnu Rohan Tuharea</td>
				<td class="border">000.000.1111.000.022</td>
			</tr>
			<tr>
				<td class="border">Bank Central Asia (BCA)</td>
				<td class="border">Ardiana Navila Yulfa</td>
				<td class="border">000.000.2222.000.099</td>
			</tr>
		</tbody>
	</table>

	<p class="text-center mb-4">Kami tidak berharap Bapak/Ibu/Teman/Saudara/i untuk memberikan tanda kasih (duit) karena kehadiran Bapak/Ibu/Teman/Saudara/i adalah kebahagian yang mendalam bagi kami.</p>
</section>