<section class="flex flex-col justify-around" [id]="id">

	<app-ornament class="self-center" position="top-center" color="primary-inverse"></app-ornament>

	<div class="px-5">

		<p class="text-center">Yang akan dilaksanakan pada:</p> <br>

		<table class="table-fixed self-center">
			<thead>
				<tr>
					<th colspan="3">Akad nikah</th>
				</tr>
			</thead>

			<tbody>

				<tr>
					<td>Hari, tanggal & waktu</td>
					<td>&nbsp;:&nbsp;</td>
					<td class="font-bold">{{ weddingDate | date: 'fullDate' }}</td>
				</tr>

				<tr>
					<td>Alamat beserta Maps</td>
					<td>&nbsp;:&nbsp;</td>
					<td class="font-bold">
						<a class="underline decoration-dotted" [href]="weddingMapRouteLink" target="_blank" rel="noopener noreferrer">
							{{ weddingAddress }}
							<app-icon name="map-alt" color="primary-inverse"></app-icon>
						</a>
					</td>
				</tr>
			</tbody>
		</table>

		<table class="table-fixed self-center">
			<thead>
				<tr>
					<th colspan="3">Resepsi</th>
				</tr>
			</thead>

			<tbody>
				<tr>
					<td>Hari, tanggal & waktu</td>
					<td>:</td>
					<td class="font-bold">{{ weddingDate | date: 'fullDate' }}</td>
				</tr>

				<tr>
					<td>Alamat beserta Maps</td>
					<td>:</td>
					<td class="font-bold">
						<a class="underline decoration-dotted" [href]="weddingMapRouteLink" target="_blank" rel="noopener noreferrer">
							{{ weddingAddress }}
							<app-icon name="map-alt" color="primary-inverse"></app-icon>
						</a>
					</td>
				</tr>
			</tbody>
		</table>

	</div>

	<app-ornament class="self-center" color="primary-inverse"></app-ornament>

</section>
