<section class="flex flex-col justify-center min-h-screen" id="invitationDetails">

	<p class="text-center">Yang akan dilaksanakan pada:</p> <br>

	<table class="border border-separate rounded-4 self-center">
		<!--<thead><th></th></thead>-->
		<tbody>
			<tr>
				<td class="border text-center" colspan="3">Akad nikah</td>
			</tr>

			<tr>
				<td class="border">Hari, tanggal & waktu</td>
				<td class="border">&nbsp;:&nbsp;</td>
				<td class="border">Senin, 02 Desember 2024</td>
			</tr>
			<tr>
				<td class="border">Alamat beserta Maps</td>
				<td class="border">&nbsp;:&nbsp;</td>
				<td class="border">Candiroto, Temanggung, Jawa Tengah</td>
			</tr>

			<tr>
				<td class="border text-center" colspan="3">Resepsi</td>
			</tr>

			<tr>
				<td class="border">Hari, tanggal & waktu</td>
				<td class="border">&nbsp;:&nbsp;</td>
				<td class="border">Senin, 02 Desember 2024</td>
			</tr>
			<tr>
				<td class="border">Alamat beserta Maps</td>
				<td class="border">&nbsp;:&nbsp;</td>
				<td class="border">Candiroto, Temanggung, Jawa Tengah</td>
			</tr>
		</tbody>
	</table>

	<br>

</section>