@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&family=Mulish:ital,wght@0,200..1000;1,200..1000&display=swap');

/**
 * Default Variables Configs
 */

:root {
	--primary-color: #181C14;
	--secondary-color: #3C3D37;
	--third-color: #697565;
	--fourth-color: #ECDFCC;

	--primary-text-color: var(--fourth-color);
	--secondary-text-color: var(--third-color);
	--third-text-color: var(--secondary-color);
	--fourth-text-color: var(--primary-color);

	--primary-inverse-text-color: var(--primary-color);
	--secondary-inverse-text-color: var(--secondary-color);
	--third-inverse-text-color: var(--third-color);
	--fourth-inverse-text-color: var(--fourth-color);

	--light-primary-color: var(--primary-color);
	--light-secondary-color: var(--secondary-color);
	--light-background-color: floralwhite;

	--dark-primary-color: var(--secondary-color);
	--dark-secondary-color: var(--fourth-color);
	--dark-background-color: var(--primary-color);

	--background-color: var(--dark-background-color);
	--forground-color: var(--dark-secondary-color);
}

/**
 * Default Styles Configs
 */

html, body {
	font-family: "Mulish", sans-serif;
	font-optical-sizing: auto;
	font-weight: normal;
	font-style: normal;
}

body { background-color: var(--background-color); color: var(--forground-color); }

header { border: solid var(--fourth-color); }

//main { min-width: 80vw; }

.dancing-script-font {
	font-family: "Dancing Script", cursive;
	font-optical-sizing: auto;
}

section { min-height: 100vh; }

footer { background-color: var(--secondary-color); color: var(--primary-color); min-height: 14vh; }

table {

	&.primary-table {
		//width: max-content;
		border: thin solid var(--fourth-color);
		border-radius: 0.2rem;

		th, td {
			padding: 0.5rem;
			border: thin solid var(--fourth-color);
			border-radius: 0.2rem;
		}
	}
}

.primary-color { background-color: var(--primary-color); color: var(--fourth-color); }

.secondary-color { background-color: var(--secondary-color); color: var(--fourth-color); }

.third-color { background-color: var(--third-color); color: var(--fourth-color); }

.fourth-color { background-color: var(--fourth-color); color: var(--secondary-color); }

.custom-container { margin: auto 5vh auto; }

.primary-text-color { color: var(--primary-text-color); }

.secondary-text-color { color: var(--secondary-text-color); }

.third-text-color { color: var(--third-text-color); }

.fourth-text-color { color: var(--fourth-text-color); }

/**
 * Dark Theme Configs
 */

.dark-theme {

	--primary-color: #181C14;
	--secondary-color: #3C3D37;
	--third-color: #697565;
	--fourth-color: #ECDFCC;

	--primary-text-color: var(--primary-color);
	--secondary-text-color: var(--secondary-color);
	--third-text-color: var(--third-color);
	--fourth-text-color: var(--fourth-color);

	--primary-inverse-text-color: var(--fourth-color);
	--secondary-inverse-text-color: var(--third-color);
	--third-inverse-text-color: var(--secondary-color);
	--fourth-inverse-text-color: var(--primary-color);

	background-color: var(--dark-background-color);
	color: var(--dark-secondary-color);

	.primary-color { background-color: var(--primary-color); color: var(--fourth-color); }

	.secondary-color { background-color: var(--secondary-color); color: var(--fourth-color); }

	.third-color { background-color: var(--third-color); color: var(--fourth-color); }

	.fourth-color { background-color: var(--fourth-color); color: var(--secondary-color); }

	.primary-text-color { color: var(--primary-text-color) !important; }

	.secondary-text-color { color: var(--secondary-text-color) !important; }

	.third-text-color { color: var(--third-text-color) !important; }

	.fourth-text-color { color: var(--fourth-text-color) !important; }

	footer { background-color: var(--secondary-color); color: var(--primary-color); }

}
/**
 * Light Theme Configs
 */

.light-theme {

	--primary-color: #ECDFCC;
	--secondary-color: #697565;
	--third-color: #3C3D37;
	--fourth-color: #181C14;

	--primary-text-color: var(--fourth-color);
	--secondary-text-color: var(--third-color);
	--third-text-color: var(--secondary-color);
	--fourth-text-color: var(--primary-color);

	--primary-inverse-text-color: var(--fourth-color);
	--secondary-inverse-text-color: var(--third-color);
	--third-inverse-text-color: var(--secondary-color);
	--fourth-inverse-text-color: var(--primary-color);

	background-color: var(--light-background-color);
	color: var(--light-secondary-color);

	.primary-color { background-color: var(--primary-color); color: var(--fourth-color); }

	.secondary-color { background-color: var(--secondary-color); color: var(--fourth-color); }

	.third-color { background-color: var(--third-color); color: var(--fourth-color); }

	.fourth-color { background-color: var(--fourth-color); color: var(--secondary-color); }

	.primary-text-color { color: var(--primary-text-color) !important; }

	.secondary-text-color { color: var(--secondary-text-color) !important; }

	.third-text-color { color: var(--third-text-color) !important; }

	.fourth-text-color { color: var(--fourth-text-color) !important; }

	footer {
		background-color: var(--secondary-color); color: var(--primary-color);
	}

}
